/* import */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700|Lobster&display=swap');

/* colors */
$primary-color: #003d68;
$primary-color-light: #00a8ff;
$secondary-color: #000000;
$secondary-color-light: #cbe2ef;
$grey: #726e60;
$greylight: #EAEAEA;

$text-color: #000000;
$link-color: #000000;

/* font */
$font-primary: 'Ubuntu', sans-serif;
$font-title: 'Ubuntu', sans-serif;
$font-size : 16px;

/* other */
$transition: all .3s ease-out;
